<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/basestyle.css" />
		<link rel="stylesheet" type="text/css" href="css/mi-pro集合.css"/>
		<script src="js/mi-pro-集合.js" type="text/javascript" charset="utf-8"></script>
		<!-- <script src="js/proHome1%20轮播图.js" type="text/javascript" charset="utf-8"></script> -->
	</head>
	<body>
		<!--  ---------------------商品页面  ---------------------->
		
		
	<!-- ------------------------------------小米header   --------------------------------------- -->
	
	<div class="top_back id=" top">
		<div class="center">
			<div class="boxl">
				<a href="">小米商城</a>
				<span>|</span>
				<a href="">MIUI</a>
				<span>|</span>
				<a href="">IoT</a>
				<span>|</span>
				<a href="">云服务</a>
				<span>|</span>
				<a href="">金融</a>
				<span>|</span>
				<a href="">有品</a>
				<span>|</span>
				<a href="">小爱开放平台</a>
				<span>|</span>
				<a href="">企业团购</a>
				<span>|</span>
				<a href="">资质证照</a>
				<span>|</span>
				<a href="">协议规则</a>
				<span>|</span>
				<a href="">下载app</a>
				<span>|</span>
				<a href="">Select Region</a>
	
			</div>
			<div class="boxr">
				<a href="">登录</a>
				<span>|</span>
				<a href="">注册</a>
				<span>|</span>
				<a href="">消息通知</a>
				<div class="rboxr">
					<a href="">购物车（0）</a>
				</div>
			</div>
	
		</div>
	
	</div>
	
	<div class="header">
		<div class="header-Left">
			<div class="header-logo">
				<a href="" class="logo" title="xiaomi">aa</a>
			</div>
	
		</div>
		<div class="header-center">
			<ul>
				<li>
					<a href="">小米手机</a>
					<!--------- header-hidbox-------- -->
					<div class="header-hidbox">
						<div class="container  hidtable clearfix">
							<div class="hidtab-td1 fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box last" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
	
						</div>
					</div>
				</li>
				<li><a href="">Redmi 红米</a>
					<div class="header-hidbox">
						<div class="container  hidtable clearfix">
							<div class="hidtab-td1 fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box last" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
	
						</div>
					</div>
				</li>
				<li><a href="">电视</a>
					<div class="header-hidbox">
						<div class="container  hidtable clearfix">
							<div class="hidtab-td1 fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box last" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
	
						</div>
					</div>
				</li>
				<li><a href="">笔记本</a>
					<div class="header-hidbox">
						<div class="container  hidtable clearfix">
							<div class="hidtab-td1 fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box last" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
	
						</div>
					</div>
				</li>
				<li><a href="">家电</a>
					<div class="header-hidbox">
						<div class="container  hidtable clearfix">
							<div class="hidtab-td1 fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box last" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
	
						</div>
					</div>
				</li>
				<li><a href="">路由器</a>
					<div class="header-hidbox">
						<div class="container  hidtable clearfix">
							<div class="hidtab-td1 fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box last" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
	
						</div>
					</div>
				</li>
				<li><a href="">智能硬件</a>
					<div class="header-hidbox">
						<div class="container  hidtable clearfix">
							<div class="hidtab-td1 fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box last" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
	
						</div>
					</div>
				</li>
				<li><a href="">服务</a>
					<div class="header-hidbox">
						<div class="container  hidtable clearfix">
							<div class="hidtab-td1 fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box last" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
	
						</div>
					</div>
				</li>
				<li><a href="">社区</a>
					<div class="header-hidbox">
						<div class="container  hidtable clearfix">
							<div class="hidtab-td1 fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
							<div class="hidtab-td1 border fl">
								<span class="span1 a-span-box">新品</span>
								<a class="img a-span-box last" href=""><img src="images/红米k20.jpg" alt=""></a>
								<a class="title a-span-box" href="">Redmi K20 Pro</a>
								<span class="span2 a-span-box">2499元起</span>
							</div>
	
						</div>
					</div>
				</li>
	
			</ul>
	
		</div>
	
		<div id="search" class="search">
			<button id="header_btn" type="button" class="but headerRstyle">搜索</button>
			<input id="header_inp" type="search" class="text headerRstyle" />
			<dl id="header_hidlist" class="list">
				<dd>米8</dd>
				<dd>米9 se</dd>
				<dd>redmi k20 pro</dd>
				<dd>redmi k20</dd>
				<dd>5</dd>
				<dd>6</dd>
				<dd>7</dd>
				<dd>8</dd>
				<dd>9</dd>
				<dd>10</dd>
			</dl>
	
	
			<a href="" class="mi">小米9</a>
			<a href="" class="mi-se">小米9 SE</a>
		</div>
	</div>
	
	
		<!-- ----------------------------------------------------- -->
		<div class="pro-backg">
			<!-- ------------------------mi-pro-home1轮播图  -------------------------- -->

			<div class="pro-home1 container">
				<img class="pro-slide-img" src="images/pro-slide-img1.jpg">
				<img class="pro-slide-img" src="images/pro-slide-img2.jpg">
				<div class="arrbut-box clearfix">
					<a id="pro_slide_Lbtn" href="javascript:void(0)" class="pro-butL fl a-span-box"></a>
					<a id="pro_slide_Rbtn" href="javascript:void(0)" class="pro-butR fr a-span-box"></a>
				</div>
				<div class="radio-box" id="pro-home1-radio">
					<a href="javascript:void(0)" class="pro-radio"></a>
					<a href="javascript:void(0)" class="pro-radio"></a>
				</div>
			</div>

			<!--------------------------------- home2产品排列介绍 -------------------------------- -->
			<div class="pro-home2 container">
				<h1>明星产品</h1>
				<div class="first-probox clearfix">
					<a class="a-span-box fl img" href="">
						<img src="images/pro-first-img.jpg">
					</a>
					<div class="firprobox-R fl">
						<a class="fir-span1 a-span-box" href="">Redmi K20 Pro</a>
						<span class="fir-span2 a-span-box">骁龙855处理器, 弹出式极界全面屏</span>
						<div class=" fir-span3">
							<span class="fir-span3-1">2499</span>
							<span class="fir-span3-2">元起</span>
						</div>
						<a class="fir-span4 a-span-box" href="">了解产品 ></a>
					</div>
				</div>
			</div>

			<!----------------------------------- 其他产品盒子 home3 ----------------------->
			<div class="pro-home3 container">
				<div class="other-probox clearfix">
					
					
					<div class="othbox fl">
						<a class="othimg a-span-box" href="">
							<img src="images/pro-other-img.jpg" alt="">
						</a>
						<div class="othbox-B fl">
							<a class="othspan1" href="">Redmi K20</a>
							<span class="othspan2">弹出全面屏，4800万三摄</span>
							<div class="othspan3">
								<span class="othspan3-1">1999</span>
								<span class="othspan3-2">元起</span>
							</div>
						</div>
					</div>
					<div class="othbox fl">
						<a class="othimg a-span-box" href="">
							<img src="images/pro-other-img.jpg" alt="">
						</a>
						<div class="othbox-B fl">
							<a class="othspan1" href="">Redmi K20</a>
							<span class="othspan2">弹出全面屏，4800万三摄</span>
							<div class="othspan3">
								<span class="othspan3-1">1999</span>
								<span class="othspan3-2">元起</span>
							</div>
						</div>
					</div>
					<div class="othbox fl">
						<a class="othimg a-span-box" href="">
							<img src="images/pro-other-img.jpg" alt="">
						</a>
						<div class="othbox-B fl">
							<a class="othspan1" href="">Redmi K20</a>
							<span class="othspan2">弹出全面屏，4800万三摄</span>
							<div class="othspan3">
								<span class="othspan3-1">1999</span>
								<span class="othspan3-2">元起</span>
							</div>
						</div>
					</div>
					<div class="othbox fl">
						<a class="othimg a-span-box" href="">
							<img src="images/pro-other-img.jpg" alt="">
						</a>
						<div class="othbox-B fl">
							<a class="othspan1" href="">Redmi K20</a>
							<span class="othspan2">弹出全面屏，4800万三摄</span>
							<div class="othspan3">
								<span class="othspan3-1">1999</span>
								<span class="othspan3-2">元起</span>
							</div>
						</div>
					</div>
					
					
					
				</div>
			</div>
		</div>


		
		
		<!-- --------------------------------------------小米页脚   不能在home2的背景里-----------------------  -->
		<div class="container pagefoot">
			<div class="foot-title clearfix">
				<a href="" class="foottitle1 fl"><img class="img1 fl" src="images/售后服务.png"><img class="img2 fl" src="images/售后服务hover.png">预约维修服务</a>
				<a href="" class="foottitle2 fl"><img class="img1 fl" src="images/售后服务.png"><img class="img2 fl" src="images/售后服务hover.png">7天无理由退货</a>
				<a href="" class="foottitle2 fl"><img class="img1 fl" src="images/售后服务.png"><img class="img2 fl" src="images/售后服务hover.png">15天免费换货</a>
				<a href="" class="foottitle1 fl"><img class="img1 fl" src="images/售后服务.png"><img class="img2 fl" src="images/售后服务hover.png">满150元包邮</a>
				<a href="" class="foottitle3 fl"><img class="img1 fl" src="images/售后服务.png"><img class="img2 fl" src="images/售后服务hover.png">520余家售后网点</a>
			</div>
			<ul class="footC-ulbox clearfix">
				<li class="fl footC-firstli">
					<span class="a-span-box">帮助中心</span>
					<a class="a-span-box" href="">账户管理</a>
					<a class="a-span-box" href="">购物指南</a>
					<a class="a-span-box" href="">订单操作</a>
				</li>
				<li class="fl footC-firstli">
					<span class="a-span-box">服务支持</span>
					<a class="a-span-box" href="">售后政策</a>
					<a class="a-span-box" href="">自助服务</a>
					<a class="a-span-box" href="">相关下载</a>
				</li>
				<li class="fl footC-firstli">
					<span class="a-span-box">线下门店</span>
					<a class="a-span-box" href="">小米之家</a>
					<a class="a-span-box" href="">服务网点</a>
					<a class="a-span-box" href="">授权体验店</a>
				</li>
				<li class="fl footC-firstli">
					<span class="a-span-box">帮助中心</span>
					<a class="a-span-box" href="">账户管理</a>
					<a class="a-span-box" href="">购物指南</a>
					<a class="a-span-box" href="">订单操作</a>
				</li>
				<li class="fl footC-firstli">
					<span class="a-span-box">帮助中心</span>
					<a class="a-span-box" href="">账户管理</a>
					<a class="a-span-box" href="">购物指南</a>
					<a class="a-span-box" href="">订单操作</a>
				</li>
				<li class="fl footC-firstli ">
					<span class="a-span-box">帮助中心</span>
					<a class="a-span-box" href="">账户管理</a>
					<a class="a-span-box" href="">购物指南</a>
					<a class="a-span-box" href="">订单操作</a>
				</li>
				<li class="fr footC-lastli">
					<span class="red">400-100-5678</span>
					<span class="gray a-span-box">周一至周日 8:00-18:00</span>
					<span class="gray a-span-box">（仅收市话费）</span>
					<a class="a-span-box" href="">联系客服</a>
				</li>
			</ul>
		
		</div>
		<div class="pro-backg">
			<div class="footB container clearfix">
				<img src="images/mi-logo.png" class="fl">
				<ol class="fl">
					<li class="footB-li1 "><a href="">小米商城</a><span> | </span><a href="">MIUI</a><span> | </span><a href="">米家</a><span>
							| </span><a href="">米聊</a><span>
							| </span><a href="">多看</a><span> | </span><a href="">游戏</a><span> | </span><a href="">路由器</a><span> | </span><a
						 href="">米粉卡</a><span> | </span><a href="">政企服务</a><span>
							| </span><a href="">小米天猫店</a><span> | </span><a href="">隐私政策</a><span> | </span><a href="">商城用户协议</a><span> |
						</span><a href="">账号协议</a><span> |
						</span><a href="">问题反馈</a><span> | </span><a href="">廉正举报</a><span> | </span><a href="">诚信合规</a><span> | </span><a
						 href="">Select Region</a></li>
					<li class="footB-li2">© mi.com 京ICP证XXXXXX号 <a href="">京ICP备XXXXXXXX号</a> <a href="">京公网安备XXXXXXXXXXXXXX号</a> <a
						 href="">京网文XXXXXXXXXXXXX号</a> </li>
					<li class="footB-li2">（京）网械平台备字（2018）第XXXXXX号 互联网药品信息服务资格证 (京) -非经营性XXXXXXXXXXXX 营业执照 医疗器械公告 </li>
					<li class="footB-li2">增值电信业务许可证 网络食品经营备案（京）【XXXX】XXXXXXXXXXXXX 食品经营许可证 </li>
					<li class="footB-li2">违法和不良信息举报电话：XXXXXXXXXXXXX 知识产权侵权投诉 本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</li>
					<li class="footB-li3 clearfix">
						<a href="" class="a-span-box fl"><img src="images/可信用网站.png"></a>
						<a href="" class="a-span-box fl"><img src="images/可信用网站.png"></a>
						<a href="" class="a-span-box fl"><img src="images/可信用网站.png"></a>
						<a href="" class="a-span-box fl"><img src="images/可信用网站.png"></a>
						<a href="" class="a-span-box fl"><img src="images/可信用网站.png"></a>
					</li>
		
				</ol>
				<div class="footB-last-img fl"></div>
			</div>
		</div>
	
	</body>
</html>
