/* ----------------------------------小米主页面头部 miheader------------------------------ */
.top_back{
	height: 40px;
	background: #333333;
}
.top_back .center{
	width: 1226px;
	height: 40px;
	margin: 0 auto;
}
.center .boxl{
	height: 40px;
	display: inline-block;
}
.center a{
	text-decoration: none;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	color: #B0B0B0;
	font-size: 12px;
}
.center span{
	color: #424242;
	font-size: 12px;
}

.boxr{
	height: 40px;
	display: inline-block;
	float: right;
}

.boxr .rboxr{
	display: inline-block;
	width: 120px;
	height: 40px;
	margin-left: 22px;
	background-color: #424242;
	text-align: center;
}
 
.rboxr a{
	display: inline-block;
	height: 40px;
	padding-left: 28px;
	background: #424242 url(../images/cart.png) no-repeat left 10px;
}
.center a:hover{
	color: floralwhite;
}
/* -------------header-------------- */
.header{
	height:100px;
	width:1226px;
	margin: 0 auto;
}
.header .header-Left{
	height: 100px;
	width: 234px;
	display: inline-block;
	float: left;
}
.header-Left .header-logo{
	height:55px;
	width: 55px;
	margin-top: 22px;
	margin-right: 178px;
}
.header-logo a{
	display: block;
	height: 100%;
	width: 100%;
	background: #FF6700 url(../images/mi-logo.png) no-repeat center center;
	text-indent:-199px;
	overflow: hidden;
}
.header-center{
	width: 660px;
	heith: 100px;
	display: inline-block;
}

.header-center ul{
	width: 766px;
	heith: 100px;
	list-style: none;
	line-height: 100px;
}
.header-center ul li{
	float:left;
}
.header-center ul li a{
	text-decoration: none;
	font-size: 16px;
	padding: 0 10px;
	color: #333333;
}
.header-center li:hover a{
	color:#FF6700;
}

#search{
	width:294px;
	height: 75px;
	float: right;
	position: relative;
	top: 0px;
	right: 0px;
}

#search .headerRstyle{
	display:inline-block;
	float: right;
	margin-top:25px;
	/*  */
}

#search button{
	height: 50px;
	width: 50px;
	background: #FFFFFF url(../images/smallfind.png) no-repeat center center;
	text-indent: -199em;
	overflow: hidden;
	border-top: 1px solid #E0E0E0;
	border-right: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	border-left: 0px solid #E0E0E0;
	outline: none;
}
#search input{
	height:50px;
	width: 244px;
	border: 1px solid #E0E0E0;
	outline: none;
}
#search a{
	display: inline-block;
	font-size: 12px;
	color: #757575;
	background: #EEEEEE;
	margin-left:5px;
	padding: 0 5px;
	text-decoration: none;
}
a.mi{
	display: inline-block;
	position: absolute;
	top: 42px;
	right: 128px;
	
}
a.mi-se{
	display: inline-block;
	position: absolute;
	top: 42px;
	right: 60px;
}

#search a.mi:hover{
	color: ghostwhite;
	background: #FF6700;
}
#search a.mi-se:hover{
	color: ghostwhite;
	background: #FF6700;
}
#search button:hover{
	background: #FF6700 url(../images/smallfind2.png) no-repeat center center;
}



/* #search:hover .headerRstyle{
	border-color: #B0B0B0;
} */
#search dl{
	width: 242px;
	position: absolute;
	top: 75px;
	left: 0px;
	border: 1px solid #FF6700;
	border-top: 0px;
	z-index: 20;
	background-color: #FFFFFF;
	display: none;
}
#search dd{
	height: 37px;
	color: #424242;
	padding-left: 20px;
	line-height: 37px;
	font-size: 16px;
}
#search dd:hover{
	background-color: #FAFAFA;
}




/* header-hidbox */
.header .header-hidbox{
	height: 229px;
	background-color: #FFFFFF;
	position: absolute;
	top: 134px;
	left: 0px;
	right: 0px;
	border-top: 1px solid #E0E0E0;
	display: none;
	z-index: 10;
	/* padding-bottom: 5px; */
	/* background: url(../images/边渐变.png) repeat-x left bottom; */
	box-shadow: 0px 3px 4px rgba(0,0,0,0.1);
	
}
.header-hidbox .hidtable{
	height: 229px;
	/* background-color: #FFFFFF; */
}
.header-hidbox .hidtable .hidtab-td1{
	height: 229px;
	width: 204px;
	text-align: center;
	position: relative;
}
.header-hidbox .hidtable .border:after{
	content: "";
	display: block;
	height: 100px;
	width: 1px;
	position: absolute;
	left: 0;
	top:36px;
	background: #E0E0E0;
}
.header-hidbox .hidtab-td1>span{
	font-size:12px;
	color: #FF6700;
}
.header-hidbox .hidtab-td1>.span1{
	width: 64px;
	height: 20px;
	border: 1px solid #FF6700;
	line-height: 20px;
	text-align: center;
	margin: 0 auto;
	margin-top: -1px;
	
}
.header-hidbox .hidtab-td1>a.img{
	height: 110px;
	margin-top: 14px;
}
.header-hidbox .hidtab-td1>a.last{
	border: 0px;
}
.header-hidbox .hidtab-td1>a>img{
	display: block;
	height: 110px;
	margin: 0 auto;
}
.header-hidbox .hidtab-td1>a.title{
	height: 20px;
	margin-top:15px;
	line-height: 20px;
	font-size: 12px;
}
.header-hidbox .hidtab-td1>span.span2{
	height: 20px;
	line-height: 20px;
	color: #FF6700;
}
.header-center li:hover .header-hidbox{
	display: block;
}
.header-hidbox .hidtab-td1>a.title{
	color: #333333;
	font-weight: 200;
}

/*------------------- 小米详情页面home1------------ */

.proinfo-top{
	width: 100%;
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	box-shadow: 0 5px 7px rgba(0,0,0,0.18);
	background: white;
}
.proinfo-Tbox{
	height: 63px;
}
.proinfo-Tbox>.toptitL{
	color: #212121 ;
	margin-top: 17px;
	display: inline-block;
	font-weight: 500;
}
.proinfo-Tbox>.toptitL>span{
	font-size: 12px;
	color: #616161;
}
.proinfo-Tbox>.toptitR{
	
	margin-top: 20px;
	display: inline-block;
	font-weight: 500;
	color: #616161 ;
}
.proinfo-Tbox>.toptitR>a{
	color: #616161 ;
}
.proinfo-Tbox>.toptitR>span{
	font-size: 14px;
	color: #E1E7F0;
	margin: 0 3px;
}
.proinfo-Tbox>.toptitR>a:hover{
	color: #FF6700 ;
}


/* proinfo左边图片 */
.proinfo-home{
	width: 100%;
	position: relative;
}
.proinfo-home>.proinfo-img{
	width: 561px;
	
	margin-top: 35px;
}
.proinfo-home>.proinfo-img>img{
	width: 561px;
}

/* 右边部分 */
.proinfo-home>.Rinfo-box{
	width:606px;
	margin-top: 25px;
}
/* box1 */
.proinfo-home>.Rinfo-box>.info-box1{
	height: 181px;
	width: 100%;
	border-bottom: 1px solid #E0E0E0;
}
.proinfo-home>.Rinfo-box>.info-box1>h1{
	font-size: 24px;
	font-weight: 500;
	color: #212121;
}
.proinfo-home>.Rinfo-box>.info-box1>p{
	margin: 8px 0;
	line-height: 21px;
}

.proinfo-home>.Rinfo-box>.info-box1>p>.span1{
	font-size: 14px;
	color:#FF4A00;
}
.proinfo-home>.Rinfo-box>.info-box1>p>.span2{
	font-size: 13px;
	color: #ADADAD;
}

.proinfo-home>.Rinfo-box>.info-box1>.span3{
	font-size: 14px;
	color: #FF6700;
	display:block;
	margin: 9px 0;
}
.proinfo-home>.Rinfo-box>.info-box1>.span4{
	font-size: 20px;
	color: #FF6700;
	display:block;
	margin-top: 7px ;
}

/* box2 */
.proinfo-home .info-box2{
	height: 74px;
	padding-top: 8px;
	border-bottom: 1px solid #E0E0E0;
}
.proinfo-home .info-box2>.span1,.info-box2>.span2{
	height: 25px;
	width: 100%;
	margin: 3px 0;
}
.proinfo-home .info-box2>.span1>.span1-1{
	display: inline-block;
	width: 80px;
	height: 25px;
	background: #FF6700;
	text-align: center;
	line-height: 25px;
	font-size: 14px;
	color: white;
}
.proinfo-home .info-box2>.span1>.span1-2{
	font-size: 14px;
	line-height: 25px;
	padding-left: 6px;
}


/* box3 */
.proinfo-home .info-box3{
	width: 604px;
	height: 102px;
	border: 1px solid #E0E0E0;
	margin: 40px 0;
	background: #FAFAFA;
}
.proinfo-home .info-box3>.span1{
	height: 21px;
	padding-left: 50px;
}
.proinfo-home .info-box3>.span1>span{
	font-size: 14px;
	padding-right: 15px;
	line-height: 21px;
	color: #333333;
}
.proinfo-home .info-box3>.span1>a{
	font-size: 14px;
	color: #FF6700;
}
.proinfo-home .info-box3>.first{
	background: url(../images/pro图标.png) no-repeat 20px center;
	margin-top: 30px;
}
.proinfo-home .info-box3>.last>span{
	color: #FF6700;
}

/* box4 */
.proinfo-home .info-box4{
	height: 151px;
}
.proinfo-home .second{
	margin-top: 15px;
}
.proinfo-home .third{
	height: 93px;
	margin-top: 15px;
}

.proinfo-home .info-box4>h3,.info-box5>h3{
	height: 19px;
	line-height: 19px;
	font-weight: 400;
	color: #333333;
	margin-bottom: 15px;
	display: inline-block;
}
.proinfo-home .info-box4>.butbox{
	width: 606px;
	height: 118px;
}
.proinfo-home .info-box4>.butbox>a{
	height: 42px;
	width: 298px;
	border: 1px solid #E0E0E0;
	margin-bottom:15px;
	background: white;
	line-height: 42px;
	font-size:16px;
	color: #333333;
	text-align: left;
}
.proinfo-home .info-box4>.butbox>a>.span1{
	padding-left: 78px;
}
.proinfo-home .info-box4>.butbox>a>.span2{
	padding-left: 42px;
	color: #B0B0B0;
}
.proinfo-home .info-box4>.butbox>a.con{
	border-color: #FF6700;
	color: #FF6700;
}
.proinfo-home .info-box4>.butbox>a.con>span{
	color: #757575;
}

/* second */
.proinfo-home .second>.butbox>a{
	background: url(../images/mipro-info-img.jpg) no-repeat 108px center;
	background-size: 18px 18px;
}
.proinfo-home .second>.butbox>a>.span1{
	padding-left: 140px;
}
/* third */
.proinfo-home .third>.butbox>a{
	text-align: center;
}
.proinfo-home .third>.butbox>a>.span1{
	padding: 0;
}


/* box5 */
.proinfo-home .info-box5{
	width: 606px;
	height: 346px;
}
.proinfo-home .info-box5>h3{
	margin-top: 15px;
}
.proinfo-home .info-box5>a{
	font-size:14px;
	color: #FF6700;
	margin-top: 14px;
}
.proinfo-home .info-box5>.butbox{
	width: 606px;
	height: 298px;
}
.proinfo-home .info-box5>.butbox>a{
	display: block;
	height: 140px;
	width: 604px;
	border: 1px solid #E0E0E0;
	background: url(../images/proinfo%20检查标志.png) no-repeat 77px 34px;
	background-size: 50px 50px;
	position: relative;
}
.proinfo-home .info-box5>.butbox>a.but2{
	border-top: 0;
}
.proinfo-home .info-box5>.butbox>a>.info-radio{
	height: 13px;
	line-height: 13px;
	width: 13px;
	border: 1px solid #B2B2B2;
	border-radius: 50%;
	background: white;
	position: absolute;
	top: 55px;
	left: 41px;
	color:white;
}

.proinfo-home .info-box5>.butbox>a>.text-box{
	display: inline-block;
	position: absolute;
	top: 20px;
	left: 141px;
}
.proinfo-home .info-box5>.butbox>a>.text-box>h3{
	height: 19px;
	line-height: 19px;
	font-weight: 400;
	color: #333333;
	margin-top: 15px;
}
.proinfo-home .info-box5>.butbox>a>.text-box>span{
	height: 14px;
	line-height: 14px;
	font-size: 14px;
	margin-top: 14px;
	display: inline-block;
}

.proinfo-home .info-box5>.butbox>a>.text-box>.span1-1{
	color: #B0B0B0;
	display: block;
}
.proinfo-home .info-box5>.butbox>a>.text-box>.span1-2{
	color: #757575;
}
.proinfo-home .info-box5>.butbox>a>.text-box>.span1-3{
	color: #FF6700;
}
.proinfo-home .info-box5>.butbox>a>.text-box>.special-icon{
	color: white;
	width: 12px;
	height: 12px;
	line-height: 12px;
	border: 1px solid #B0B0B0;
}
.proinfo-home .info-box5>.butbox>a>.span2{
	display: inline-block;
	font-size: 14px;
	height: 14px;
	line-height: 16px;
	color: #757575;
	position:absolute;
	bottom: 30px;
	right: 20px;
}

.proinfo-home .info-box5 .butbox>a.con{
	border: 1px solid #FF6700;
}
.proinfo-home .info-box5 .butbox>a.special_style1{
	top:-1px;
}
.proinfo-home .info-box5 .butbox>a.con>h3{
	color: #FF6700;
}
.proinfo-home .info-box5 .butbox>a.con>.info-radio{
	background: #FF6700;
	border-color: #FF6700;
}
.proinfo-home .info-box5 .butbox>a.con>.text-box>.special-icon{
	background: #FF6700;
	border-color: #FF6700;
}

/* box6 */
.proinfo-home .info-box6{
	height: 147px;
	width: 576px;
	background: #F9F9FA;
	margin-top: 30px;
	padding-top: 23px;
	padding-left: 30px;
}
.proinfo-home .info-box6>.text1{
	width: 546px;
	height: 16px;
	margin-top: 14px;
}
.proinfo-home .info-box6>.text1>span{
	height: 16px;
	color: #616161;
	font-size: 14px;
	line-height: 16px;
}
.proinfo-home .info-box6>.ALL-PRICE{
	height: 24px;
	margin-top: 30px;
}
.proinfo-home .info-box6>.ALL-PRICE>span{
	font-size: 22px;
	color: #FF6700;
}

/* box7 */
.proinfo-home .info-box7{
	width: 455px;
	height: 127px;
	margin-top: 32px;
}
.proinfo-home .info-box7>.but-box{
	width: 455px;
	height: 54px;
}
.proinfo-home .info-box7>.but-box>.butL{
	display: block;
	width: 300px;
	height: 54px;
	background: #FF6700;
	line-height: 54px;
	text-align: center;
	font-size: 16px;
	color: white;
}
.proinfo-home .info-box7>.but-box>.butR{
	display: block;
	width: 73px;
	height: 54px;
	background: #B0B0B0 url(../images/比心.png) no-repeat 42px 17px;
	line-height: 54px;
	padding-left: 69px;
	font-size: 16px;
	color: white;
	
}
.proinfo-home .info-box7>.but-box>.butR:hover{
	background: #757575 url(../images/比心.png) no-repeat 42px 17px;
}
.proinfo-home .info-box7>.Rlast-box{
	height: 21px;
	margin-top: 26px;
}
.proinfo-home .info-box7>.Rlast-box>.yuan{
	display: inline-block;
	width: 16px;
	height: 16px;
	border: 2px solid #B0B0B0;
	border-radius: 50%;
	line-height: 16px;
	text-align: center;
	color: #B0B0B0;
}
.proinfo-home .info-box7>.Rlast-box>.text{
	display: inline-block;
	height: 20px;
	line-height: 20px;
	margin-left: 5px;
	margin-right: 18px;
	font-size: 14px;
	color: #B0B0B0;
}


.pro-info-botback{
	width: 100%;
	height: 316px;
	background: #F5F5F5;
}
.pro-info-botback>h1{
	height: 77px;
	line-height: 77px;
	font-weight: 400;
	color: #333333;
}
.pro-info-botback>img{
	display: block;
}

/* -------------------------------------------------小米页脚----------------------------------------------- */
.pagefoot{
	height: 272px;
	overflow: hidden;
}
.pagefoot .foot-title{
	width: 100%;
	border-bottom: 1px solid #E0E0E0;
}
.pagefoot .foot-title>a{
	display: block;
	height: 25px;
	line-height: 25px;
	margin: 27px 0;
	/* text-align: center; */
	font-size: 16px;
	color: #616161;
	border-right: 1px solid #E0E0E0;
	text-indent: 6px;
	/* background: url(../images/售后服务.png) no-repeat 58px 0; */
}
.pagefoot .foot-title .foottitle1{
	width: 242px;
}
.pagefoot .foot-title .foottitle2{
	width: 243px;
}
.pagefoot .foot-title .foottitle3{
	width: 252px;
	border: 0;
}
.pagefoot .foot-title>a>img{
	width: 25px;
	margin-left: 50px;
}
.pagefoot .foot-title>a>.img2{
	display: none;
}
.pagefoot .foot-title>a:hover{
	color: #FF6700;
}
.pagefoot .foot-title>a:hover>.img1{
	display: none;
}
.pagefoot .foot-title>a:hover>.img2{
	display: block;
}




.pagefoot .footC-ulbox{
	height: 192px;
	width: 100%;
}
.pagefoot .footC-ulbox>li.footC-firstli{
	width: 160px;
}
.pagefoot .footC-ulbox>li.footC-firstli>span{
	font-size: 14px;
	height: 60px;
	line-height: 60px;
	color: #424242;
}
.pagefoot .footC-ulbox>li.footC-firstli>a{
	font-size: 12px;
	height: 28px;
	line-height: 28px;
	color: #757575;
}
.pagefoot .footC-ulbox>li.footC-firstli>a:hover{
	color: #FF6700;
}
.pagefoot .footC-ulbox .footC-lastli{
	width: 251px;
	height: 112px;
	margin-top: 23px;
	border-left: 1px solid #E0E0E0;
	text-align: center;
}
.pagefoot .footC-ulbox .footC-lastli>span.red{
	font-size: 18px;
	color: #FF6700;
	margin-bottom: 9px;
}
.pagefoot .footC-ulbox .footC-lastli>span.gray{
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	color: #616161;
}
.pagefoot .footC-ulbox .footC-lastli>a{
	width: 118px;
	height: 28px;
	line-height: 28px;
	border: 1px solid #FF6700;
	color: #FF6700;
	font-size: 12px;
	text-align: center;
	margin-top: 14px;
	margin-left: 65px;
	background: url(../images/icon1.png) no-repeat 28px 7px;
	text-indent: 15px;
}
.pagefoot .footC-ulbox .footC-lastli>a:hover{
	color: white;
	background: #FF6700 url(../images/icon1-hover.png) no-repeat 28px 7px;
}


.footB{
	padding-top:  30px;
	height: 201px;
}
.footB>ol{
	height: 127px;
	padding-left: 10px;
}
.footB>ol>li{
	height: 18px;
	line-height: 18px;
	font-size: 12px;
}
.footB>ol>.footB-li1>a{
	font-size: 12px;
	color: #757575;
}
.footB>ol>.footB-li1>span{
	color: #B7CBE7;
}
.footB>ol>.footB-li1>a:hover{
	color: #FF6700;
}
.footB>ol>.footB-li2{
	color: #B0B0B0;
}
.footB>ol>.footB-li2>a{
	font-size: 12px;
	color: #B0B0B0;
}
.footB>ol>.footB-li2>a:hover{
	color: #FF6700;
}
.footB>ol>.footB-li3{
	height: 36px;
}
.footB>ol>.footB-li3>a{
	margin-right: 2px;
}
.footB .footB-last-img{
	height: 74px;
	width: 100%;
	background: url(../images/探索黑科技.png) no-repeat center center;
}
