.pagefoot{
	height: 272px;
	overflow: hidden;
}
.pagefoot .foot-title{
	width: 100%;
	border-bottom: 1px solid #E0E0E0;
}
.pagefoot .foot-title>a{
	display: block;
	height: 25px;
	line-height: 25px;
	margin: 27px 0;
	/* text-align: center; */
	font-size: 16px;
	color: #616161;
	border-right: 1px solid #E0E0E0;
	text-indent: 6px;
	/* background: url(../images/售后服务.png) no-repeat 58px 0; */
}
.pagefoot .foot-title .foottitle1{
	width: 242px;
}
.pagefoot .foot-title .foottitle2{
	width: 243px;
}
.pagefoot .foot-title .foottitle3{
	width: 252px;
	border: 0;
}
.pagefoot .foot-title>a>img{
	width: 25px;
	margin-left: 50px;
}
.pagefoot .foot-title>a>.img2{
	display: none;
}
.pagefoot .foot-title>a:hover{
	color: #FF6700;
}
.pagefoot .foot-title>a:hover>.img1{
	display: none;
}
.pagefoot .foot-title>a:hover>.img2{
	display: block;
}




.pagefoot .footC-ulbox{
	height: 192px;
	width: 100%;
}
.pagefoot .footC-ulbox>li.footC-firstli{
	width: 160px;
}
.pagefoot .footC-ulbox>li.footC-firstli>span{
	font-size: 14px;
	height: 60px;
	line-height: 60px;
	color: #424242;
}
.pagefoot .footC-ulbox>li.footC-firstli>a{
	font-size: 12px;
	height: 28px;
	line-height: 28px;
	color: #757575;
}
.pagefoot .footC-ulbox>li.footC-firstli>a:hover{
	color: #FF6700;
}
.pagefoot .footC-ulbox .footC-lastli{
	width: 251px;
	height: 112px;
	margin-top: 23px;
	border-left: 1px solid #E0E0E0;
	text-align: center;
}
.pagefoot .footC-ulbox .footC-lastli>span.red{
	font-size: 18px;
	color: #FF6700;
	margin-bottom: 9px;
}
.pagefoot .footC-ulbox .footC-lastli>span.gray{
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	color: #616161;
}
.pagefoot .footC-ulbox .footC-lastli>a{
	width: 118px;
	height: 28px;
	line-height: 28px;
	border: 1px solid #FF6700;
	color: #FF6700;
	font-size: 12px;
	text-align: center;
	margin-top: 14px;
	margin-left: 65px;
	background: url(../images/icon1.png) no-repeat 28px 7px;
	text-indent: 15px;
}
.pagefoot .footC-ulbox .footC-lastli>a:hover{
	color: white;
	background: #FF6700 url(../images/icon1-hover.png) no-repeat 28px 7px;
}


.footB{
	padding-top:  30px;
	height: 201px;
}
.footB>ol{
	height: 127px;
	padding-left: 10px;
}
.footB>ol>li{
	height: 18px;
	line-height: 18px;
	font-size: 12px;
}
.footB>ol>.footB-li1>a{
	font-size: 12px;
	color: #757575;
}
.footB>ol>.footB-li1>span{
	color: #B7CBE7;
}
.footB>ol>.footB-li1>a:hover{
	color: #FF6700;
}
.footB>ol>.footB-li2{
	color: #B0B0B0;
}
.footB>ol>.footB-li2>a{
	font-size: 12px;
	color: #B0B0B0;
}
.footB>ol>.footB-li2>a:hover{
	color: #FF6700;
}
.footB>ol>.footB-li3{
	height: 36px;
}
.footB>ol>.footB-li3>a{
	margin-right: 2px;
}
.footB .footB-last-img{
	height: 74px;
	width: 100%;
	background: url(../images/探索黑科技.png) no-repeat center center;
}
















.pagefoot-bottom
.pagefoot-bottom
.pagefoot-bottom
.pagefoot-bottom
.pagefoot
.pagefoot
.pagefoot
.pagefoot
.pagefoot
.pagefoot
.pagefoot