body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
}
a,
a:hover,
a:active {
  color: #333;
  text-decoration: none;
}
.audio-wrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  height: 200px;
  padding: 30px;
  position: relative;
  border-radius: 20px;
  box-shadow: inset 0 0 20px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.audio-wrapper .slider {
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.audio-wrapper .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  background: url('images/1.jpg') no-repeat bottom center;
  background-size: cover;
  border-radius: 20px;
  filter: blur(7px);
}
.audio-wrapper .audio-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.audio-wrapper .audio-box::after {
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}
.audio-wrapper .audio-box .animate {
  width: 140px;
  height: 140px;
  position: relative;
}
.audio-wrapper .audio-box .animate .circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.audio-wrapper .audio-box .animate .circle::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(transparent 50%, #381015 50%);
}
.audio-wrapper .audio-box .content {
  width: calc(100% - 140px);
  height: 100%;
  padding: 0 30px;
  color: #fff;
  text-shadow: 1px 1px 2px #333;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.audio-wrapper .audio-box .content .tit {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 30px;
  line-height: 1.2em;
}
.audio-wrapper .audio-box .content .singer {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: lighter;
  line-height: 2em;
}
.audio-wrapper .audio-box .content .radio-box {
  width: 100%;
  font-size: 20px;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}
.audio-wrapper .audio-box .content .radio-box .con-play {
  display: flex;
}
.audio-wrapper .audio-box .content .radio-box .con-play a {
  display: block;
  margin-right: 20px;
  color: #fff;
}
.audio-wrapper .audio-box .content .radio-box .con-play a:active,
.audio-wrapper .audio-box .content .radio-box .con-play a:hover {
  color: #333;
}
.audio-wrapper .audio-box .content .radio-box .con-play a .active {
  display: none;
}
.audio-wrapper .audio-box .content .radio-box .con-play a .fa-pause {
  font-size: 18px;
}
.audio-wrapper .audio-box .content .radio-box .con-play a.play-style span {
  display: none;
}
.audio-wrapper .audio-box .content .radio-box .con-play a.play-style span.show {
  display: inline;
}
.audio-wrapper .audio-box .content .radio-box .con-volume {
  display: flex;
  align-items: center;
}
.audio-wrapper .audio-box .content .radio-box .con-volume .icon a.con {
  color: #fff;
  display: block;
  width: 20px;
  display: flex;
  margin-right: 5px;
  font-size: 24px;
}
.audio-wrapper .audio-box .content .radio-box .con-volume .icon a.con:active,
.audio-wrapper .audio-box .content .radio-box .con-volume .icon a.con:hover {
  color: #333;
}
.audio-wrapper .audio-box .content .radio-box .con-volume .icon a.con span {
  display: none;
}
.audio-wrapper .audio-box .content .radio-box .con-volume .icon a.con span.show {
  display: inline;
}
.audio-wrapper .audio-box .content .radio-box .con-volume .slide-volume {
  display: flex;
  height: 4px;
  background-color: #fff;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  position: relative;
  border-radius: 2px;
}
.audio-wrapper .audio-box .content .radio-box .con-volume .slide-volume input {
  z-index: 1;
  opacity: 0;
}
.audio-wrapper .audio-box .content .radio-box .con-volume .slide-volume .slider {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333333;
}
.audio-wrapper .audio-box .content .progress-line {
  width: 100%;
  height: 6px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  position: relative;
}
.audio-wrapper .audio-box .content .progress-line input {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}
.audio-wrapper .audio-box .content .progress-line .slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #333;
  border-radius: 3px;
}
.audio-wrapper .audio-box .content .duration-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@keyframes animateRorate {
  to {
    transform: rotate(360deg);
  }
}
